<html>
<head>
	<%- include("bootstrap")%>
	<title>ban <%=ip%></title>
</head>
<body>
	<form method="post">
		
		<label>are you sure you want to ban ip:<%=ip%></label><br />
		<input type="submit" value="delete">
		
	</form>
	<a href="../">or go back to catalog?</a><br />
	<a href="javascript:history.back()">or go back to previous page?</a>
</body>

</html>